root=true

[*]
indent_style=space
indent_size=2
end_of_line=crlf
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false

[*{.xaml,.cs}]
indent_style=tab
indent_size=4
tab_width=4

[*.cs]

# "This."と "Me." 修飾子
dotnet_style_qualification_for_field=true:warning
dotnet_style_qualification_for_property=true:warning
dotnet_style_qualification_for_method=true:warning
dotnet_style_qualification_for_event=true:warning
# 型参照のためのフレームワーク型名の代わりの言語キーワード
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning
# 修飾子の基本設定
dotnet_style_require_accessibility_modifiers=always:warning
csharp_preferred_modifier_order=public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:warning
dotnet_style_readonly_field=true:warning
# かっこの基本設定
dotnet_style_parentheses_in_arithmetic_binary_operators=always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:warning
dotnet_style_parentheses_in_other_operators=always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:silent
# 式レベル基本設定
dotnet_style_object_initializer=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:warning
dotnet_style_prefer_inferred_tuple_names=true:warning
dotnet_style_prefer_inferred_anonymous_type_member_names=true:warning
dotnet_style_prefer_auto_properties=true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment=true:silent
dotnet_style_prefer_conditional_expression_over_return=true:silent
# "null" チェック設定
dotnet_style_coalesce_expression=true:warning
dotnet_style_null_propagation=true:warning
# C# コード スタイルの設定
# 暗黙的な型と明示的な型
csharp_style_var_for_built_in_types=true:warning
csharp_style_var_when_type_is_apparent=true:warning
csharp_style_var_elsewhere=true:suggestion
# 式形式のメンバー
csharp_style_expression_bodied_methods=false:warning
csharp_style_expression_bodied_constructors=false:warning
csharp_style_expression_bodied_operators=false:warning
csharp_style_expression_bodied_properties=false:warning
csharp_style_expression_bodied_indexers=false:warning
csharp_style_expression_bodied_accessors=false:warning
# パターン マッチング
csharp_style_pattern_matching_over_is_with_cast_check=true:warning
csharp_style_pattern_matching_over_as_with_null_check=true:warning
# インライン変数宣言
csharp_style_inlined_variable_declaration=true:warning
# 式レベル基本設定
csharp_prefer_simple_default_expression=true:warning
csharp_style_deconstructed_variable_declaration=true:suggestion
csharp_style_pattern_local_over_anonymous_function=true:silent
# "null" チェック設定
csharp_style_throw_expression=true:warning
csharp_style_conditional_delegate_call=true
# コード ブロック基本設定
csharp_prefer_braces=true:error

# usingの整理
dotnet_sort_system_directives_first=true
# 改行オプション
csharp_new_line_before_open_brace=none
csharp_new_line_before_else=false
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_between_query_expression_clauses=false
# インデント オプション
csharp_indent_case_contents=true
csharp_indent_switch_labels=true
csharp_indent_labels=flush_left
# スペース オプション
csharp_space_after_cast=false
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_method_call_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_around_binary_operators=before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false
# 折り返しオプション
csharp_preserve_single_line_statements=false
csharp_preserve_single_line_blocks=false