<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="Normal" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\logs\trace" />
      <param name="DatePattern" value='yyyyMMdd".log"' />
      <param name="RollingStyle" value="Date" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5level] [%d] [%thread] %message%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="Normal" />
    </root>

  </log4net>

</configuration>